<div class="field-group">
    <div class="field">
        <div class="name">
            Статус плагина для поселения
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[status]" value="0">
            <input type="checkbox" class="ibutton" name="route_settings[status]" value="1"{if $route_settings.status|default:0} checked{/if}>
            <p class="hint">Включение/отключение плагина для выбранного поселения</p>
        </div>
    </div>
</div>


<div class="field-group">
    <h3 class="grey">Настройки вывода и отображения</h3>
    <div class="field">
        <div class="name">
            Хук frontend_product
        </div>
        <div class="value">
            <select name="route_settings[frontend_product_output]">
                <option {if $route_settings.frontend_product_output|default:'cart' == ''} selected{/if} value="">Не выводить</option>
                <option {if $route_settings.frontend_product_output|default:'cart' == 'menu'} selected{/if} value="menu">Содержимое, добавляемое рядом со ссылками на дополнительные страницы товара (frontend_product.menu)</option>
                <option {if $route_settings.frontend_product_output|default:'cart' == 'cart'} selected{/if} value="cart">Содержимое, добавляемое рядом с кнопкой «В корзину» (frontend_product.cart)</option>
                <option {if $route_settings.frontend_product_output|default:'cart' == 'block_aux'} selected{/if} value="block_aux">Блок дополнительной информации в боковой части страницы (frontend_product.block_aux)</option>
                <option {if $route_settings.frontend_product_output|default:'cart' == 'block'} selected{/if} value="block">Блок дополнительной информации в основной части описания товара (frontend_product.block)</option>
            </select>
            <p class="hint">
                Вывод блока «Скидка от количества» в стандартном месте, используется хук frontend_product<br/>
                <strong>Или</strong>
            </p>
        </div>
        <div class="value">
            <div class="geshifilter">
                {literal}
                    <pre>{if class_exists('shopQdiscountPlugin')}
    {shopQdiscountPlugin::display($product)}
{/if}</pre>
                    {/literal}
            </div>
            <p class="hint">
                Код хелпера-вывода для вставки в шаблон <strong>product.html</strong> или <strong>product.cart.html</strong>, чтобы выполнить размещение блока «Скидка от количества» в произвольном месте
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Селектор формы в карточке товара
        </div>
        <div class="value">
            <input class="long" name="route_settings[product_form_selector]" value="{$route_settings.product_form_selector|default:'form#cart-form'|escape}" />
            <p class="hint">Данный селектор необходим для изменения количества товара в поле выбора. <a target="_blank" href="http://jquery.page2page.ru/index.php5/%D0%A1%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B">Что такое селекторы?</a></p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Селектор цены товара
        </div>
        <div class="value">
            <input class="long" name="route_settings[product_price_selector]" value="{$route_settings.product_price_selector|default:'form#cart-form .price'|escape}" />
            <p class="hint">Данный селектор необходим для изменения цены товара. <a target="_blank" href="http://jquery.page2page.ru/index.php5/%D0%A1%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B">Что такое селекторы?</a></p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Селектор зачеркнутой цены товара
        </div>
        <div class="value">
            <input class="long" name="route_settings[product_compare_price_selector]" value="{$route_settings.product_compare_price_selector|default:'form#cart-form .compare-at-price'|escape}" />
            <p class="hint">Данный селектор необходим для изменения зачеркнутой цены товара. <a target="_blank" href="http://jquery.page2page.ru/index.php5/%D0%A1%D0%B5%D0%BB%D0%B5%D0%BA%D1%82%D0%BE%D1%80%D1%8B">Что такое селекторы?</a></p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Символ рубля для валюты
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[html_currency]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.html_currency|default:1} checked="checked"{/if} name="route_settings[html_currency]" value="1" />
            <p class="hint">
                {shop_currency_html(1, 'RUB', 'RUB')} или {shop_currency(1, 'RUB', 'RUB')}
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Замена цены
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[price_replace]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.price_replace|default:1} checked="checked"{/if} name="route_settings[price_replace]" value="1" />
            <p class="hint">
                Вместо назначения скидки в корзине, устанавливать новую цену с учетом скидки
            </p>
        </div>
    </div>
    <div class="field">
        <div class="name">
            Подключать скрипты планина на всех страницах
        </div>
        <div class="value no-shift s-ibutton-checkbox">
            <input type="hidden" name="route_settings[head_include]" value="0" />
            <input class="ibutton" type="checkbox"{if $route_settings.head_include|default:0} checked="checked"{/if} name="route_settings[head_include]" value="1" />
            <p class="hint">
                Без включения данной опции скрипты плагина доступны только на странице товара и, например, на страницах категории, в быстром просмотре плагин работать не сможет.
            </p>
        </div>
    </div>
</div>


<div class="field-group">
    <div class="field">
        <a class="edit-templates" href="#"><i class="icon16 edit"></i>Шаблоны</a>
    </div>

    <div class="templates-block">
        {foreach $templates as $key => $template}
            <div class="field">
                <div class="name">
                    {$template.name}<br /><span class="hint">HTML + Smarty</span>
                </div>
                <div class="value no-shift">
                    <a class="edit-template" href="#"><i class="icon16 edit"></i>Изменить шаблон</a>
                    <div class="template-block">
                        <textarea id="sf-template-{$key}"  class="body" name="templates[{$key}][template]">{$template.template|escape}</textarea>

                        {if $template.change_tpl}
                            <p class="gray"><i class="icon16 exclamation"></i>Внимание! Шаблон по умолчанию был изменен</p>
                            <input class="reset-tpl" type="checkbox" name="templates[{$key}][reset_tpl]" value="1"  /> - Сбросить изменения, использовать шаблон по умолчанию
                        {/if}

                    </div>
                </div>
            </div>
        {/foreach}
        <div class="field">
            <div class="name">
                Сбросить изменения во всех шаблонах
            </div>
            <div class="value">
                <input type="checkbox" name="reset_tpl_all" value="1" />
            </div>
        </div>
    </div>
</div>