<div class="qdiscount-product-block">
    {foreach $product.skus as $sku}
        <div class="qdiscount-sku" data-sku-id="{$sku.id}">
            {foreach $items as $item}
                {if $sku.id == $item.sku_id}
                    <div class="qdiscount-item">Цена при покупке от {$item.count} {$product.qdiscount_units|default:'шт.'}: <b>{shop_currency($item.price)}</b></div>
                {/if}
            {/foreach}
        </div>
    {/foreach}
</div>

<script type="text/javascript">
    (function ($) {
        $.qdiscount_plugin = {
            options: {},
            init: function (options) {
                this.options = options;
                this.changeSkus();
                $(".skus input[type=radio]:checked").click();
                this.changeFeatures();
                $(".sku-feature").change();
            },
            changeSkus: function () {
                $(".skus input[type=radio]").click(function () {
                    var sku_id = $(this).val();
                    $('.qdiscount-sku').hide();
                    $('.qdiscount-sku[data-sku-id=' + sku_id + ']').show();
                });
            },
            changeFeatures: function () {
                var self = this;
                $(".sku-feature").change(function () {
                    var key = "";
                    $(".sku-feature").each(function () {
                        key += $(this).data('feature-id') + ':' + $(this).val() + ';';
                    });
                    var sku = self.options.features[key];
                    if (sku) {
                        $('.qdiscount-sku').hide();
                        $('.qdiscount-sku[data-sku-id=' + sku.id + ']').show();
                    }
                });
            }
        };
    })(jQuery);

    $(function () {
        $.qdiscount_plugin.init({
        {if $product.sku_type}
            features: {json_encode($sku_features_selectable)}
        {/if}
        });
    });
</script>