<script type="text/javascript" src="{$wa_app_static_url}plugins/qdiscount/js/qdiscount.js"></script>
<input type="hidden" name="qdiscount_product_id" value="{$product.id}" />

<div class="fields form">

    <div class="field-group">
        <div class="field">
            <div class="name">
                Единицы измерения количества
            </div>
            <div class="value">
                <input type="text" name="product[qdiscount_units]" value="{$product.qdiscount_units|escape}" placeholder="шт."/>
            </div>
        </div>
    </div>

    <div class="field-group">
        <div class="field">
            <div class="name">
                Зависимость цены от количества
            </div>
            <div class="value">
                <table id="qdiscount-table" class="zebra" style="width: auto;">
                    <thead>
                    <th>Артикул</th>
                    <th>Количество</th>
                    <th>Стоимость</th>
                    <th>Удалить</th>
                    </thead>
                    <tbody>
                        {foreach $items as $item}
                            <tr>
                                <td class="min-width">
                                    <input type="hidden" name="qdiscount_id[]" value="{$item.id}" />
                                    <select name="qdiscount_sku[]">
                                        {foreach $product.skus as $sku}
                                            <option {if $item.sku_id == $sku.id}selected="selected"{/if} value="{$sku.id}">{$sku.sku|default:'По умолчанию'}{if $sku.name}({$sku.name}){/if}</option>
                                        {/foreach}
                                    </select>
                                </td>
                                <td class="min-width">
                                    <input type="text" value="{$item.count}" class="large bold" name="qdiscount_count[]">
                                </td>
                                <td>
                                    <input type="text" value="{$item.price}" class="large bold" name="qdiscount_price[]">
                                    <span class="large bold overhanging">
                                        {$product.currency}
                                    </span>
                                </td>
                                <td>
                                    <a class="delete-row" href="#"><i class="icon16 delete"></i></a>
                                </td>
                            </tr>
                        {/foreach}
                    </tbody>
                </table>
                <a class="inline-link add-row" href="#"><i class="icon16 add"></i><b><i>Добавить</i></b></a>
            </div>
        </div>
    </div>

</div>




<script type="text/javascript" src="{$wa_url}wa-content/js/jquery-plugins/jquery.tmpl.min.js"></script>
{literal}
    <script id="qdiscount-tmpl" type="text/x-jquery-tmpl">
        <tr>
        <td class="min-width">
        <input type="hidden" name="qdiscount_id[]" value="" />
        <select name="qdiscount_sku[]">
        {{each skus}}
        <option value="${$value.id}">{{if $value.sku}}${$value.sku}{{else}}По умолчанию{{/if}}{{if $value.name}}(${$value.name}){{/if}}</option>
        {{/each}}
        </select>
        </td>
        <td class="min-width">
        <input type="text" value="" class="large bold" name="qdiscount_count[]">
        </td>
        <td>
        <input type="text" value="" class="large bold" name="qdiscount_price[]">
        <span class="large bold overhanging">
        ${currency}
        </span>
        </td>
        <td>
        <a class="delete-row" href="#"><i class="icon16 delete"></i></a>
        </td>
        </tr>
    </script>
{/literal}
<script type="text/javascript">
    $.product_qdiscount.init({
    container: '.s-product-form.qdiscount',
    counter: '#s-product-edit-menu li.qdiscount span.hint',
    product_id: {$product.id},
    currency: '{$product.currency}',
    skus: {json_encode($product.skus)}
    });
</script>
